body{
    margin: auto;
    width: 960px;
    background-color: aqua;
}
main{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    
}
header{
    border: solid 1px;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    line-height: 30px;
    display: flex;
    justify-content: space-between;

}

select{
   width: 200px;
   height: 40px;
    margin-top: 20px;
    border-radius: 6px;
    margin-right: 20px;
    
}
h1{
    font-size: 36px;
    text-shadow: white 2px 2px;
}
img{
    width: 100px;
    height: 200px;
}
div{
    border: 1px solid;
    background-color: skyblue;
    box-shadow: blueviolet 3px 3px;
    overflow: visible;
}
footer{
    width: 100%; 
    border: 1px solid;
    float: left;
    padding: 30px 0;
    text-align: center;
    margin: auto;
}